* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.cv-container {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main {
    display: flex;
    flex-direction: row;
}

.cv-container2 {
    padding: 20px;
    border-radius: 10px;
}

.main2 {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    body {
        padding: 5px;
    }

    .cv-container {
        padding: 5px;
        border-radius: 5px;
    }
    .cv-container2 {
        padding: 5px;
        border-radius: 5px;
    }
}