.project {
    margin-bottom: 30px; /* Ajusta este valor según el espacio deseado */
    text-align: justify;
    line-height: 1.4;
}

.project p {
    font-size: 1rem;
}

.project h1 {
    color: #4a4b8d;
    margin-bottom: 10px;
    border-bottom: 2px solid #4a4b8d;
    font-size: 1.2rem;
}

.project h2 {
    font-size: 1rem;
    background-color: #4a4b8d;
    color: white;
    padding: 4px;
    border-radius: 5px;
}

.project h2, .project h1 {
    display: inline-block;
    margin-right: 10px; /* Añade espacio entre los elementos */
}
